*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    background-color: rgb(249, 249, 249);
}
.left{
    width: 15%;
    height: 700px;
}
.center{
    width: 60%;
    height: 1000px;
}
.right{
    width: 25%;
    height: 700px;
}
.sym{
    width: 15px;
    margin-right: 10px;
}
.name{
    padding: 20px;
}
ul li{
    list-style: none;
    padding: 10px;
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
ul li:hover{
    background-color: rgb(219, 197, 239);
    color: black;
    border-radius: 10px;
}
ul li:hover a{
    color: black;
}
.premium{
    width: 200px;
    background-color:  rgb(223, 188, 255);
    border-radius: 10px;
    height: 200px;
    margin: 30px;
    margin-top: 100px;
    padding: 10px;
}
.ps{
    padding-top: 70px;
    text-align: center;
}
.ps_txt{
    padding-top: 10px;
    text-align: center;
}
.pre_btn{
    border: 0px;
    color: white;
    cursor: pointer;
    background-color:  rgb(174, 4, 174);
    width: 180px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.ps_img{
    position: absolute;
    top: 280px;
}
.stn{
    margin-top: 30px;
    margin-left: 160px;
}